.button-container {
  color: var(--accent);
  background-color: transparent;
  border: 1px solid var(--accent);
  border-radius: var(--radius);
  padding: 1.25rem 1.75rem;
  font-size: var(--fz-sm);
  font-family: var(--font-mono);
  line-height: 1;
  text-decoration: none;
  transition: var(--transition);
}
.inverse {
  background: white;
  color: #312450;
}
.small {
  border-radius: 3em;
  font-size: 0.4em;
  min-width: 75px;
  max-height: 4.5em;
  padding: 0 1.75em;
}
.disabled {
  opacity: 0.5;
}
.large {
  border-radius: 3em;
  font-size: 0.8em;
  max-width: 125px;
  min-width: 125px;
  padding: 0 1.75em;
}
.fit {
  flex-grow: 1;
  max-width: 100%;
}
.grow {
  max-width: none;
  flex: 1;
  flex-grow: 1;
}
.button-container:not(.disabled):hover {
  border: 1px solid rgba(255, 255, 255, 0.55);
  background-color: rgba(255, 255, 255, 0.05);
  cursor: pointer;
}
