.contact-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.contact-section-container h2 {
  padding-bottom: 1.25rem;
}
.contact-section-content-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
@media (min-width: 0px) {
  .contact-section-container {
    padding-bottom: 6rem;
  }
}
@media (min-width: 768px) {
  .contact-section-container {
    padding: 20px;
  }
}
