@media (max-width: 869px) {
  .experience-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    color: white;
    background-color: #5052b5;
  }
  .sub-experience-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
  .sub-experience-container:nth-child(2) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  .sub-experience-container:nth-child(3) {
    background-color: rgba(0, 0, 0, 0.1);
  }
}
@media (min-width: 870px) {
  .sub-experience-wrapper {
    padding-bottom: 30px;
  }
  .sub-experience-container {
    display: grid;
    grid-template-columns: 2fr 6fr;
    column-gap: 1.5rem;
    padding: 20px;
    border-radius: var(--radius);
  }
  .sub-experience-container header {
    padding-top: 3px;
  }
  .sub-experience-container h3,
  .sub-experience-container p,
  .sub-experience-container ul {
    margin-bottom: 1rem;
  }
  .sub-experience-container ul {
    padding-left: 20px;
    list-style: none;
    position: relative;
  }
  .sub-experience-container ul li::before {
    content: "▹";
    position: absolute;
    left: 0px;
    color: var(--accent);
  }
  .sub-experience-container:hover {
    background-color: var(--primaryShadow);
    border-radius: var(--radius);
  }
  .sub-experience-container:hover h3 {
    color: var(--accent);
  }
  .sub-experience-container:hover .arrow {
    padding-left: 8px;
    padding-bottom: 3px;
  }
  .experience-used-item {
    display: inline-block;
    margin: 3px 15px 3px 0;
    font-family: Inconsolata,monospace;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 2px 7px;
    border-radius: 3px;
    color: var(--accent);
    border: 1px solid var(--accent);
    background: 0 0;
  }
}
