.footer-container-content {
  padding-top: 6rem;
}
.footer-container-content a {
  font-weight: bold;
}
.footer-container-content a:hover {
  color: var(--accent);
}
.watermark {
  padding-top: 100px;
}
@media (min-width: 0px) {
  .watermark {
    text-align: center;
    font-size: var(--fz-xxs);
  }
}
@media (min-width: 768px) {
  .footer-container {
    padding-left: 20px;
  }
  .watermark {
    text-align: left;
  }
}
