.footer-container {
  color: var(--text);
  width: 100%;
  height: 100%;
  font-size: var(--fz-xs);
}
.footer-container-content {
  height: 100%;
  width: 100%;
}
.footer-container-content a {
  font-weight: bold;
}
.footer-container-content a:hover {
  color: var(--accent);
}
.watermark {
  padding-top: 100px;
}
@media (min-width: 0px) {
  .watermark {
    text-align: center;
    font-size: var(--fz-xxs);
  }
}
@media (min-width: 768px) {
  .site-details {
    padding-left: 20px;
  }
}
