.education-section,
.certification-section {
  padding-bottom: 3.75rem;
}
.education-section h2,
.certification-section h2 {
  display: inline-block;
}
.sub-qualification-container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  column-gap: 1.5rem;
}
.qualification-image {
  height: 110px;
  width: 110px;
}
.qualification-data {
  place-self: center start;
}
.qualification-title {
  font-size: var(--fz-md);
  margin-bottom: 0.3rem;
}
.qualification-subtitle {
  display: block;
  font-size: var(--fz-sm);
  color: var(--gray-shade);
  margin-bottom: 1rem;
}
.qualification-date {
  display: block;
  font-size: var(--fz-sm);
}
@media (min-width: 0px) {
  .sub-qualification-container {
    padding: 10px 0;
  }
  .qualification-wrapper-anchor {
    pointer-events: none;
  }
  .qualification-title {
    pointer-events: auto;
  }
  .qualification-title:hover a {
    color: var(--accent);
  }
  .qualification-title:hover .arrow {
    padding-left: 8px;
  }
}
@media (min-width: 768px) {
  .qualification-wrapper-anchor {
    pointer-events: auto;
  }
  .sub-qualification-container {
    padding: 20px;
  }
  .sub-qualification-container:hover {
    background-color: var(--primary-shadow);
    border-radius: var(--radius);
  }
  .sub-qualification-container:hover a {
    color: var(--accent);
  }
  .sub-qualification-container:hover .arrow {
    padding-left: 8px;
  }
}
