@media (min-width: 870px) {
  .sub-qualification-container {
    display: grid;
    grid-template-columns: 2fr 6fr;
    column-gap: 1.5rem;
    padding: 20px;
  }
  .sub-qualification-container:hover {
    background-color: var(--primaryShadow);
    border-radius: var(--radius);
  }
  .sub-qualification-container:hover h3 {
    color: var(--accent);
  }
  .sub-qualification-container:hover .arrow {
    padding-left: 8px;
    padding-bottom: 3px;
  }
  .qualification-image {
    height: 110px;
    width: 110px;
  }
  .qualification-data {
    place-self: center start;
  }
  .qualification-title {
    font-size: var(--fz-md);
    padding-bottom: 5px;
  }
  .qualification-subtitle {
    display: block;
    font-size: var(--small-font-size);
    margin-bottom: var(--mb-1);
    padding-bottom: 15px;
  }
  .qualification-date {
    display: block;
    font-size: var(--fz-sm);
  }
}
.education-section {
  padding-bottom: 60px;
}
h2 {
  padding-left: 20px;
  padding-bottom: 20px;
}
