.education-section,
.certification-section {
  padding-bottom: 60px;

  h2 {
    display: inline-block;
  }
}

.sub-qualification-container {
  display: grid;
  grid-template-columns: 2fr 6fr;
  column-gap: 1.5rem;
}

// .qualification-graph {
//   margin-left: 50%;
// }

// .qualification-rounder {
//   display: inline-block;
//   width: 13px;
//   height: 13px;
//   background-color: var(--primary);
//   border-radius: 50%;
//   margin-top: 4px;
// }

// .qualification-line {
//   display: block;
//   width: 1px;
//   height: 100%;
//   background-color: var(--primary);
//   transform: translate(6px, -7px);
// }

.qualification-image {
  height: 110px;
  width: 110px;
}

.qualification-data {
  place-self: center start;
}

.qualification-title {
  font-size: var(--fz-md);
  margin-bottom: 0.3rem;
}

.qualification-subtitle {
  display: block;
  font-size: var(--fz-sm);
  color: var(--gray-shade);
  margin-bottom: 1rem;
}

.qualification-date {
  display: block;
  font-size: var(--fz-sm);
}

@media (min-width: 0px) {
  .sub-qualification-container {
    padding: 20px 0;
  }

  .qualification-wrapper-anchor {
    pointer-events: none;
  }

  .qualification-title {
    pointer-events: auto;

    &:hover {
      a {
        color: var(--accent);
      }

      .arrow {
        padding-left: 8px;
      }
    }
  }
}

@media (min-width: 768px) {
  .qualification-wrapper-anchor {
    pointer-events: auto;
  }

  .sub-qualification-container {
    padding: 20px;

    &:hover {
      background-color: var(--primary-shadow);
      border-radius: var(--radius);

      a {
        color: var(--accent)
      }

      .arrow {
        padding-left: 8px;
      }
    }
  }
}

@media (min-width: 1200px) {}