@media only screen and (min-width: 0em) {
  :root {
    --background: #F4F9FC;
    --primary: #aadcec;
    --primaryShadow: rgba(170, 220, 236, 0.15);
    --primaryShade: #ffd675;
    --primaryDark: #805d0d;
    --bodyText: #0f1b61;
    --accent: #FF7B9C;
    --accentShadow: rgba(255, 123, 156, 0.15);
    --radius: 20px;
    --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
    --font-roboto: 'Roboto', sans-serif;
    --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
  }
}
@media screen and (min-width: 421px) {
  body {
    /* background-color: #312450; */
    margin: 0;
    font-family: var(--font-roboto);
    height: 100vh;
    width: 100vw;
  }
  #root {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}
@media screen and (max-width: 420px) {
  body {
    /* background-color: #312450; */
    margin: 0;
    font-family: var(--font-roboto);
    height: 100%;
    width: 100%;
  }
  #root {
    width: 100%;
    height: 100%;
  }
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
a,
ul,
li {
  margin: 0;
  color: var(--bodyText);
}
p,
li {
  line-height: 1.75;
}
a {
  text-decoration: none;
}
.center {
  display: flex;
  align-items: center;
}
.inline-flex {
  display: inline-flex;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
h2 {
  font-size: var(--fz-xxl);
}
.wrap {
  padding: 3rem;
  width: 100%;
  height: 100%;
}
input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 1pt white;
}
.t-primary {
  color: var(--bodyText);
}
.dot {
  color: var(--primary);
}
.link {
  color: var(--accent);
  padding: 0 0 0.4em 0;
  position: relative;
}
.link:hover {
  color: var(--primary);
}
.link::before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--primary);
  transition: width 0.2s ease-in;
}
.link:hover::before,
.link:focus::before {
  width: 100%;
}
.color-ease {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.bg-ease {
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
