:root {
  --background: #F4F9FC;
  --primary: #aadcec;
  --primary-shadow: rgba(170, 220, 236, 0.15);
  --text: #0f1b61;
  --accent: #FF7B9C;
  --gray-shade: #919795;
  --radius: 20px;
  --transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  --font-roboto: 'Roboto', sans-serif;
  --font-mono: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
  --fz-xxs: 0.75rem;
  --fz-xs: 0.813rem;
  --fz-sm: 0.875rem;
  --fz-md: 1rem;
  --fz-lg: 1.125rem;
  --fz-xl: 1.25rem;
  --fz-xxl: 1.375rem;
}
body {
  margin: 0;
  font-family: var(--font-roboto);
  height: 100vh;
  width: 100vw;
}
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre,
a,
ul,
li {
  margin: 0;
  color: var(--text);
}
p,
li {
  line-height: 1.75;
}
a {
  text-decoration: none;
}
.center {
  display: flex;
  align-items: center;
}
.dot {
  color: var(--primary);
}
.link {
  color: var(--accent);
  padding: 0 0 0.4em 0;
  position: relative;
}
.link:hover {
  color: var(--primary);
}
.link:hover:before {
  width: 100%;
}
.link:before {
  content: '';
  display: inline;
  width: 0%;
  height: 0.2em;
  position: absolute;
  bottom: 0;
  background-color: var(--primary);
  transition: width 0.2s ease-in;
}
.color-ease {
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -ms-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
.bg-ease {
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* Mobile */
@media only screen and (min-width: 0px) {
  p,
  li {
    font-weight: normal;
    line-height: 3.2;
    font-size: var(--fz-md);
  }
  h2 {
    font-size: var(--fz-xl);
  }
  h3 {
    font-size: var(--fz-lg);
  }
  p,
  li {
    line-height: 1.25;
  }
}
/* Tablet */
/* Desktop */
@media only screen and (min-width: 1200px) {
  h2 {
    font-size: var(--fz-xxl);
  }
}
