@keyframes activeUnderlineGrow {
  0% {
    left: -50%;
  }

  100% {
    left: 0%
  }
}

@media (min-width: 0px) {
  .sidebar-container {
    display: none;
  }
}

@media (min-width: 768px) {
  .sidebar-container {
    display: flex;
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
    max-height: 100vh;

    .profile-container {
      margin-top: 4rem;
    }
  }

  .sidebar-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--font-roboto);
  }

  .sidebar-item-container {
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
    padding-top: .5rem;
    padding-bottom: .5rem;
    cursor: pointer;
    text-transform: uppercase;
  }

  .sidebar-item-content {
    text-align: left;
    display: flex;
    color: var(--text);
    flex-direction: column;
    padding: 1rem 0;
    font-size: var(--fz-sm);
    letter-spacing: 0.25em;
    font-weight: bold;
    pointer-events: auto;

    &:hover {
      text-align: left;
      font-weight: bold;
      color: var(--accent);
      display: flex;
      flex-direction: column;
    }
  }

  .sidebar-item-content--active {
    text-align: left;
    display: flex;
    color: rgba(0, 0, 0, 0.85);
    flex-direction: column;
    padding: 1rem 0;
    font-size: var(--fz-sm);
    letter-spacing: 0.25em;
    font-weight: bold;
  }

  .sidebar-item-underline {
    // margin-bottom: 2px;
    width: 30%;
    margin-left: 0;
    margin-right: auto;
    background: var(--primary);
    padding-bottom: 2px;
  }

  .sidebar-item-underline--active {
    width: 50%;
    position: relative;
    margin-left: 0;
    margin-right: auto;
    top: 0%;
    left: 0%;
    background: var(--accent);
    animation-name: activeUnderlineGrow;
    animation-duration: 0.7s;
    animation-fill-mode: normal;
    padding-bottom: 2px;
  }
}

@media (min-width: 1200px) {}