@media (min-width: 0px) {
  .header-container {
    display: none;
  }
  
  .theme-mode {
    pointer-events: auto;
    border: 0;
    background-color: var(--background);
    color: var(--accent);
  }

  // .theme-mode {
  //   display: block;
  //   cursor: pointer;
  //   padding: 0.8em 1.4em;
  //   font-weight: 500;
  //   font-size: .9rem;
  //   text-transform: lowercase;
  //   transition: -webkit-transform .2s ease-in-out;
  //   transition: transform .2s ease-in-out;
  //   transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  //   padding: 0;
  //   margin: 0;
  //   outline: 0;
  //   color: inherit;
  //   font-family: inherit;
  //   font-size: inherit;
  //   box-shadow: none;
  //   box-sizing: border-box;
  // }

  .theme-mode:hover,
  .theme-mode:focus {
    color: var(--accent);
  }

  .theme-mode:active {
    transform: translateY(-5px);
  }
}

@media (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    position: fixed;
    width: 82%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    z-index: 2;
  }

  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2em;

    .logo {
      justify-content: space-between;
      font-size: 1.5rem;
      font-weight: bold;

      a {
        pointer-events: auto;
      }
    }
  }
}

@media (min-width: 1200px) {}