@media (min-width: 0px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    position: fixed;
    width: 100%;
    pointer-events: none;
    z-index: 2;
    top: 0;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 2rem 1rem 2rem;
  }
  .header-content .logo {
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .header-content .logo a {
    pointer-events: auto;
  }
  .theme-mode {
    pointer-events: auto;
    border: 0;
    background-color: var(--background);
    color: var(--accent);
  }
  .theme-mode:hover,
  .theme-mode:focus {
    color: var(--accent);
  }
  .theme-mode:active {
    transform: translateY(-5px);
  }
}
@media (min-width: 768px) {
  .header-container {
    left: 50%;
    transform: translate(-50%, 0);
    width: 82%;
  }
  .header-content {
    padding: 2rem;
  }
}
