@media (min-width: 0px) {
  .header-container {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    color: white;
    font-weight: bold;
    font-size: 1.25em;
    position: fixed;
    width: 82%;
    left: 50%;
    transform: translate(-50%, 0);
    pointer-events: none;
    z-index: 2;
  }
  .header-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 2em;
  }
  .header-content .logo {
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .header-content .logo a {
    pointer-events: auto;
  }
}
